body {
	background: #cce4f7;
}
#wrapper {
	background-image: url(../images/back.jpg);
	margin: auto;
	margin-top: -30px;
	height: 100%;
	min-height: 700px;
}
img {
	width: 60px;
	height: 60px;
	margin-top: 60px;
	margin-left: 15px;
}
h2 {
	margin-bottom: -40px;
	padding-top: 40px;
	text-align: center;
	color: white;
	font-family: "Serif Italic";
}
#form {
	margin: auto;
	margin-top: 100px;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}
button {
	text-align: center;
	color: #8011f7;
	margin-left: 30%;
	margin-right: 30%;
	height: 45px;
	width: 40%;
	background: #cce4f7;
	font-family: "Serif Italic";
}
a {
	text-align: center;
	color: #8011f7;
	font-family: "Serif Italic";
	text-decoration: none;
}
#button_1 {
	margin-top: 0px;
}
#button_2 {
	margin-top: 20px;
}
#button_3 {
	margin-top: 20px;
}
